.upload {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: flex-start;
  text-align: left;
  overflow: hidden;
}

.content {
  display: flex;
  flex-direction: row;
  padding-top: 16px;
  box-sizing: border-box;
  width: 100%;
}

.actions {
  display: flex;
  flex: 1;
  width: 100%;
  align-items: center;
  flex-direction: column;
}

.title {
  margin-bottom: 32px;
  color: #555;
}

.check-icon {
  opacity: 0.5;
  margin-left: 10px;
}

.progress-wrapper {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
}

button {
  font-family: "Roboto medium", sans-serif;
  font-size: 20px;
  display: inline-block;
  min-width: 88px;
  width: 150px;
  margin-top: 1em;
  padding: 10px 16px;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 0;
  border-radius: 4px;
  background-color: #345995;
  color: #fff;
  outline: 0;
  margin-left: 10px;
}

button:disabled {
  background: rgb(189, 189, 189);
  cursor: default;
}

.title-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.files {
  padding: 1em;
  min-width: 300px;
}

.central-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.filename {
  margin-bottom: 8px;
  font-size: 16px;
  color: #555;
  text-align: center;
}

.row {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  box-sizing: border-box;
}

label {
  font-size: .6em;
  color: rgb(189, 189, 189);
}

.input-wrapper {
  display: flex;
  flex-direction: column;
}

.input-wrapper input[type=text] {
  background: #FFFFFF;
  border: 1px solid #EAEDF2;
  box-sizing: border-box;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.06), 0 1px 3px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  height: 40px;
  padding-left: 16px;
  font-size: 12px;
  line-height: 40px;
  outline: none;
  min-width:200px;
}

.action-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items:center;
}

.clear-button {
  background-color: rgba(209, 0, 0);
}

.checkbox-wrapper {
  display: block;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-top: 1em;
}

/* Hide the browser's default checkbox */
.checkbox-wrapper input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.checkbox-wrapper:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkbox-wrapper input:checked ~ .checkmark {
  background-color: #345995;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkbox-wrapper input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox-wrapper .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

hr {
  z-index: 1;
  left: 0;
  width: 100%;
  border: 1px dashed rgb(187, 186, 186);
  box-shadow: none;
  margin: 1em;
}
